<div class="row content d-flex justify-content-center">
  <div class="col-sm-12 header-row p-4">
    <b class="welcome-msg d-flex justify-content-center">Welcome!</b>
    <b class="welcome-alt-msg d-flex justify-content-center">Awesome page for Rick&Morty Characters</b>
    <div class="col-sm-12 d-flex justify-content-center p-4">
      <img src="assets/arrow_right.png" class="arrow-right-img" alt="Arrow Right">
      <button (click)="getStartedButtonClicked()" class="btn btn-lg btn-outline-primary my-primary-button"
              type="submit">Get started
      </button>
      <img src="assets/arrow_left.png" class="arrow-left-img" alt="Arrow Left">
    </div>
  </div>
  <div class="row col-sm-12 p-4">
    <div class="col-sm-6 justify-content-center content-row">
      <b class="content-text content-text-1">
        Character Quick Infos
      </b>
      <br>
      <b class="content-text content-text-2">Get info about your favourite character</b>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam, architecto aut cumque id itaque maxime
        minima mollitia odio quas quisquam sit soluta tempora unde vel velit voluptate voluptatibus?</p>
    </div>
    <div class="col-sm-6 d-flex justify-content-center">
      <img src="assets/home-img-2.png" class="home-img" alt="Home image about Morty">
    </div>
  </div>
  <div class="row col-sm-12 p-4">
    <div class="col-sm-6 d-flex justify-content-center">
      <img src="assets/home-img-1.png" class="home-img" alt="Home image about Rick">
    </div>
    <div class="col-sm-6 justify-content-center content-row">
      <b class="content-text content-text-1">
        Get Detailed Infos</b>
      <br>
      <b class="content-text content-text-2">Get detailed info about your favourite character</b>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eveniet fugit non officiis perspiciatis quia
        rerum sunt suscipit. Accusamus, doloremque, quaerat? Ab eaque fugiat sequi voluptate voluptatibus. Debitis
        molestiae, tenetur!</p>
    </div>
  </div>
</div>
