@import "src/style_variables";

.page-content {
  width: auto;
  height: auto;
}

.welcome-msg {
  font-size: 40px;
  color: $primary-color-light;
  opacity: 0.9;
}

.my-primary-button {
  color: $primary-color-light;
  border-color: $primary-color-light;

  &:hover {
    background-color: $primary-color;
    color: white;
  }

  &:hover:active {
    background-color: $primary-color;
    color: white;
  }

  &:disabled {
    background-color: $primary-color-dark;
    color: white;
  }
}

.filter-input {
  height: 40px;
  width: 200px;
}

.list-select-button {
  height: 40px;
  width: 200px;
}

.no-character-div {
  min-height: 500px;
}

.no-character-text {
  font-size: 30px;
  color: $primary-text-color;
  opacity: 0.9;
}

.no-character-img {
  margin-top: 40px;
  width: 150px;
  height: 200px;
}

.character-list-container {
    margin: 10px 10px 20px 10px;
    border-style: solid;
    border-color: rgb(127, 177, 214, .4);
    border-radius: 20px;
    padding: 20px 10px 20px 10px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .2);
}
