<div class="background d-flex justify-content-center">
  <div *ngIf="character; else waitingForCharacter" class="background-2 row">
    <div class="col-md-6 character-card-left-side">
      <div class="col-md-12 d-flex justify-content-center">
        <b class="welcome-msg">Infos about <br>{{character.name}}</b>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <img class="character-img" src="{{character.image}}" alt="Image about {{character.name}}">
      </div>
    </div>
    <div class="col-md-6 character-card-right-side">
      <b class="d-flex justify-content-center content-text-1">Name: {{character.name}}</b>
      <div class="status-icon-img" matTooltip="{{character.status}}" matTooltipPosition="after"
           [ngClass]="{'alive-status': character.status.toLowerCase() === 'alive',
                         'dead-status': character.status.toLowerCase() === 'dead',
                         'unknown-status': character.status.toLowerCase() != 'alive' && character.status.toLowerCase() != 'dead'}"
      ></div>
      <p class="content-text-1 mt-4 d-flex justify-content-center">Last location: {{character.location.name }}</p>
      <p class="content-text-1 mt-4 d-flex justify-content-center">Created at: {{character.created | date:'YYYY-MM-dd'}}</p>
    </div>
  </div>
  <ng-template #waitingForCharacter>
    <div class="waiting-msg-container">
      <b class="welcome-msg">Waiting For Character to load</b>
    </div>
  </ng-template>
</div>

