@import "src/style_variables";

.background {
  background-image: url("~src/assets/character_details_background.png");

  height: auto;
  width: auto;

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.character-card-left-side {
  margin: 10px auto;
}

.character-card-right-side {
  margin: 10px auto;
}

.background-2 {
  margin: 20px 50px 20px 50px;
  padding: 30px 20px 30px 20px;

  border-radius: 20px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, .2);
  background-color: white;
}

.welcome-msg {
  font-size: 40px;
  color: $primary-color-light;
  opacity: 0.9;
}

.content-text-1 {
  color: $primary-text-color;
}

.character-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.status-icon-img {
  margin: 10px auto 10px auto;
}

.alive-status {
  background-image: url("~src/assets/character-status-icons/alive-status-icon.png");
  width: 50px;
  height: 50px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dead-status {
  background-image: url("~src/assets/character-status-icons/dead-status-icon.png");
  width: 50px;
  height: 50px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.unknown-status {
  background-image: url("~src/assets/character-status-icons/unknown-status-icon.png");
  width: 50px;
  height: 50px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.waiting-msg-container {
  margin-top: 30px;
  padding: 40px;
}

.back-button {
  margin-top: 20px;
  width: 50px;
  height: 150px;
  background-image: url("~src/assets/back-button-img-1.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    background-image: url("~src/assets/back-button-img-2.png");
  }

  cursor: pointer;
}
