.character-row {
  margin: 5px 0px 5px 0px;
  padding: 10px 20px 10px 20px;
  min-width: 750px;
  border-radius: 5px;

  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
  &:hover {
    color: white;
    background-color: rgb(127, 177, 214, .4);
  }
  cursor:pointer;
}

.content-text-1 {
  color: #373636;
}
